* {{
    background:     {background};
    background-alt: {background};
    foreground:     {foreground};
    selected:       {color3};
    active:         {color5};
    urgent:         {color7};
}}
